<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{{server_name}} - Server Monitor</title>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='minecraft.css') }}">
  <style>
    .centered-container {
      max-width: 600px;
      margin: 0 auto;
      text-align: center;
    }
    .centered-button {
      display: block;
      margin: 1rem auto;
    }
  </style>
</head>
<body class="bg-secondary" style="margin:0; padding:0;">
  <!-- Navigation bar -->
  <nav class="navbar">
    <div class="navbar-brand">{{server_name}} Monitor</div>
    <ul class="navbar-nav">
      <li><a href="/">Home</a></li>
    </ul>
  </nav>
  <div class="container my-lg centered-container">
    <h1 class="font-ten text-accent mb-md" style="font-size: 3rem;">
      {{server_name}}
    </h1>
    <div class="card">
      <div class="card-header">
        Server Status
      </div>
      <div class="card-body">
        <h1>{% if status == 'true' %}ONLINE{% else %}OFFLINE{% endif %}</h1>
        {% if status == 'true' %}
            <img src="/static/grass_block.webp" style="width: 20%; height: auto;"/>
        {% else %}
            <img src="/static/dirt_block.webp" style="width: 20%; height: auto;"/>
        {% endif %}
        <p class="mb-md">
          {% if status == 'true' %}
          Ready for players! <br/>
          Server restarts in: {{time_remaining}} seconds or if there are no players (checked every {{player_interval}} seconds)
          {% else %}
          Ready to start up on your command!
          {% endif %}
        </p>
        {% if status != 'true' %}
          <form action="/request_on" method="POST">
            {% if requires_auth %}
              <input type="password" name="auth_password" placeholder="Enter Password" required
                     class="centered-button" style="padding: 0.5rem; width: 60%;"/>
            {% endif %}
            <button type="submit" class="button button-primary centered-button">
              Start Server
            </button>
          </form>
        {% endif %}
      </div>
    </div>
  </div>
</body>
</html>
